@charset "Shift_JIS";

div.links       {
        background-color:white;
        color:black;
        line-height:150%;
        border-style:solid;
        border-color:silver;
        border-width:1px 2px 2px 1px;
        margin:1em 0 0 0;
        padding:0.25em;
        }
div.title       {
        text-align:center;
        background-color:white;
        color:black;
        border-style:none;
        margin:1em 0 0 0;
        padding:0.25em;
        }

p.links {
        background-color:white;
        color:black;
        line-height:150%;
        border-style:solid;
        border-color:silver;
        border-width:1px 2px 2px 1px;
        margin:1em 0 0 0;
        padding:0.25em 0.25em 0.25em 2em;
        }

address.pub     {
        text-align:right;
        color:gray;
        background-color:white;
        font-style:normal;
        font-weight:normal;
        border-style:solid;
        border-color:silver;
        border-width:0 1px 1px 0;
        margin:1em 0;
        padding:0.25em;
        }



.return {
        background-color:white;
        color:black;
        line-height:150%;
        text-align:right;
        border-style:solid;
        border-color:gray;
        border-width:1px 2px 2px 1px;
        margin:1em 0 0 0;
        padding:0.25em;
        }

.sample {
        color:green;
        background-color:transparent;
        padding:0.5em;
        }

.lastline       {
        background-color:white;
        color:gray;
        line-height:150%;
        text-align:right;
        border-style:dotted;
        border-color:gray;
        border-width:1px;
        margin:1em 0 0 0;
        padding:0.25em;
        }


.contentsmenu   {
        border-style:solid;
        border-width:1px 0 1px 0;
        border-color:silver;
        margin:1em 0;
        padding:0.25em 2em 0.25em 2em;
        }

.author {
        text-align:right;
        font-weight:bold;
        }

.ad     {
        text-align:center;
        }

div.contentsmenu p      {
        text-align:center;
        font-size:0.75em;
        }

/*
obsolete
*/

.wd     {
        text-align:right;
        color:gray;
        background-color:white;
        border-style:solid;
        border-color:silver;
        border-width:0 1px 1px 0;
        margin:1em 0;
        padding:0.25em;
        }

