@charset "Shift_JIS";

@import url(antinn.css);
@import url(tnanchor.css);

/*	指定なき限りは普通に表示
*/
* {
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
	margin:0;
	padding:0;
	}

/*	line-height指定は全てantinn.cssへ追ひ出し
*/

body {
	color:black;
	background-color:#fdfdfd;
	font-size:100%;
	padding:1em;
}

h1 {
	color:#111111;
	background-color:#ededed;
	font-style:italic;
	font-weight:bold;
	text-align:light;
	border-style:solid;
	border-color:#111111;
	border-width:thin medium medium thin;
	margin:2em 0 1em 0;
	padding:0.2em 1em 0.2em 1em;
	}

h2 {
	color:gray;
	background-color:#fdfdfd;
	text-align:center;
	font-weight:bold;
	border-color:gray;
	border-style:solid;
	border-width:0 0 thick 0;
	margin:1em 0 0.5em 0;
	padding:0 0.5em;
	}

h3 {
	color:gray;
	background-color:#fdfdfd;
	font-weight:bold;
	border-color:gray;
	border-style:solid;
	border-width:thin 0 thin 0;
	margin:1em 0 0.5em 0;
	padding:0 1em;
	}

h4 {
	color:#696969;
	background-color:#fdfdfd;
	font-weight:bold;
	border-color:silver white white silver;
	border-style:solid;
	border-width:thin;
	margin:0.5em 0 0.5em 0;
	padding:0.2em 0.2em 0.2em 0.5em;
	}

h5 {
	color:#2f4f4f;
	background-color:#fdfdfd;
	font-weight:bold;
	font-style:italic;
	border-color:#2f4f4f;
	border-style:dotted;
	border-width:1px 0 0 0;
	margin:0.5em 0 0.5em 0;
	padding:0.2em 0.2em 0.2em 1em;
	}

h6 {
	color:gray;
	background-color:#fdfdfd;
	font-weight:bold;
	margin:0.5em 0 0.5em 0;
	padding:0 1em;
	}

p {
	margin:0.5em 1em 0 1em;
	}

pre {
	margin:0.5em 1em 0 1em;
	padding:0.5em;
	border-style:double;
	border-color:green;
	border-width:3px;
	white-space:pre;
	}

address {
	color:gray;
	background-color:#ececec;
	text-align:right;
	border-style:solid;
	border-color:gray;
	border-width:thin 0 thin 0;
	margin:1em 0;
	padding:0.4em;
	}

ul,ol {
	}

li {
	margin:0.3em 0 0 2em;
	}

dl {
	margin:1em;
	}

/*	dt, dd, blockquoteの指定はantinn.cssへ
	table關係の指定はtntable.cssへ
*/

hr {
	margin:1em 0 0 0;
	}

/*	a（アンカー）の指定はtnanchor.cssへ
*/

em {
	color:black;
	background-color:#ffffcc;
	border-style:none none dashed none;
	border-width:thin;
	border-color:red;
	padding:1px 0.5em;
	}

strong {
	color:red;
	background-color:#fdfdfd;
	border-color:maroon;
	border-width:thin;
	border-style:none none double none;
	padding:1px 0.5em 0 0.5em;
	}

small {
	font-size:0.75em;
	}

big {
	font-size:2em;
	}

q {
	quotes:"「" "」";
	color:maroon;
	background-color:transparent;
	}

q:before {
	content:open-quote;
	}

q:after {
	content:close-quote;
	}

cite {
	color:black;
	background-color:#eeeeee;
	text-decoration:none;
	quotes:"[" "]";
	}

cite:before {
	content:open-quote;
	}

cite:after {
	content:close-quote;
	}


samp {
	color:navy;
	background-color:white;
	}

code {
	color:green;
	background-color:white;
	}

dfn {
	color:black;
	background-color:yellow;
	}

abbr {
	color:green;
	background-color:transparent;
	border-style:none none dotted none;
	border-width:thin;
	border-color:green;
	}

acronym {
	color:green;
	background-color:transparent;
	border-style:none none dashed none;
	border-width:thin;
	border-color:green;
	}

kbd {
	color:gray;
	background-color:#fefefe;
	border-style:dotted;
	border-width:thin;
	border-color:gray;
	}


del {
	text-decoration:line-through;
	}

ins {
	text-decoration:underline;
	}
